# Python
__pycache__/
*.py[cod]
*$py.class

# Data & Models
data/
*.pt
*.json
!src/pianosynth/default_params.json
*.wav
*.aiff

# Environment
.venv/
.env

# Editor
.vscode/
.idea/

# Reports
loss_curves.png
